<nav class="head">
<h1 style="margin-left: 600px; font-family: 'Playfair Display', serif; font-size: 56px; color: #17a62c; text-transform: uppercase; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Eco<span style="color: #3498db;">Infinité</span> Nexus</h1>
<p style="margin-left:807px;">Waste Management Platform</p>
<dev class="brand">
    <img src="images/logo.png" alt="India Zero Waste" style="border-radius: 50%; width: 150px; position: relative; top: -135px; left:410px; ">
</nav>
</nav>
<!-- npm run dev -->
<nav>
    <ul>    
        <li><a href="/user/Home">Home</a></li>
        <li><a href="/user/SellTrash">Sell Trash</a></li>
        <li><a href="/user/BuyTrash">Buy Trash</a></li>
        <li><a href="/user/RecycleProducts">Recycling Products</a></li>
        <li><a href="/user/AboutWM">About Waste Management</a></li>
        <li><a href="/user/Service">Services</a></li>
        <!-- <li><a href="/user/Aboutus">About Us</a></li> -->
        <li><a href="/user/Typeswaste">Types of waste</a></li>
        <li><a href="/user/Articles">Blo/Articles</a></li>
        
    
    </ul>
</nav>
<button id="registerButton" class="register-trigger" onclick="window.location.href='/user/signup'">Register</button>
</div>


</header>
<div>
<div class="autochange">
    <div class="Section_top">
        <div class="content">
            <h1>INDIA<span>Waste Management</span></h1>
            <a href="user/infoimg">Click to Upload</a>
        </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br>
</div>
<br></br>
<br></br>
<div class="box1" style="background-color:rgb(226, 226, 201);">
    <h1 style="text-align: center;">Who We Are?</h1>
    We are leaders in the India's waste management sector, dedicated to transforming how the nation handles its
            waste. With a multidisciplinary team, we're pioneering innovative solutions merging technology and
            sustainability. Our mission is to optimize waste processes, minimize environmental impact, and
            promote a greener future. Through our efforts, we aim to set a precedent for effective and
            eco-conscious waste management practices nationwide.
</div>
</div>
<br><br>
<h1 style="text-align: center;">Hey Dont Miss It</h1>
<div class="containerb">
    <div class="box">
        <!-- <h4 class="heading">Household Waste Collection</h4> -->
        <h3 style="color:rgb(243, 243, 243); text-align: center;"><b style="color:#1dea19">Home </b>Waste
            Collection
        </h3>
        <p>If you come across waste, you can easily access our website, utilizing its cutting-edge waste recognition
            AI and ML features to efficiently report and manage the disposal process.
            <br></br>
            <li class="relogo"><img src="/images/Typimgs/Imgbox1.png" alt="India Zero Wate"></li>
        </p>
    </div>
    <div class="box">
        <!-- <h4 class="heading"> Take Photos and upload</h4> -->
        <h3 style="color: rgb(242, 248, 241); text-align: center;"><b style="color:#1dea19">Take Picture </b>upload
            Here
        </h3>
        <p>Please upload a picture when you encounter waste, along with the address, to promptly notify our team for
            swift waste management action.

             <li><a href="user/img">Link to Upload Photos</a></li>
            <li><a href="user/infoimg">Link to Upload image infomation</a></li> 
         
            <li class="relogo"><img src="/images/Typimgs/Imgbox2.png" alt="India Zero Wate"></li>
        </p>

    </div>
    <div class="box">
        <!-- <h4 class="heading">Get Credit Points</h4> -->
        <h3 style="color: rgb(243, 247, 242); text-align: center;"><b style="color:#1dea19">Get </b>Rewards</h3>
        <p>Once the waste is recycled, the corresponding reward amount will be credited to your account, serving as
            acknowledgment for your contribution towards sustainable waste management.
            <br></br>
            <li class="relogo"><img src="/images/Typimgs/Imgbox3.png" alt="India Zero Wate"></li>
        </p>
    </div>
</div>
</div>
</div>
<br></br>
<br></br>
<!-- new section -->
<h1 style="text-align: center;">What We Do?</h1>
<div>
<li class="relogo2"><img style="height: 800px; width: 1300px," src="/images/wt.jpg" alt="India Zero Wate"></li>
</div>


<section id="services">
    <h3 style="color: #2e2e2e; text-align: center;"><b style="color:#22631b">OUR </b>SERVICES</h3>

    <div class="oursevices">
        <div class="box3">
            <!-- <h4 class="heading">Household Waste Collection</h4> -->
            <h3 style="color: black; text-align: center;"><b style="color:black">House Waste Collection </b>
            </h3>
            <p>Our services include Household Waste Collection, where we diligently collect and manage household
                waste to ensure a cleaner and more sustainable environment.
            </p>
        </div>
        <div class="box3">
            <!-- <h4 class="heading"> Take Photos and upload</h4> -->
            <h3 style="color:black; text-align: center;"><b style="color:black">Recycling Sevice </b></h3>
            <p>Our Recycling Service is dedicated to efficiently processing recyclable materials, contributing to
                the preservation of natural resources and the reduction of environmental impact.
            </p>
        </div>
        <div class="box3">
            <!-- <h4 class="heading">Get Credit Points</h4> -->
            <h3 style="color:black; text-align: center;"><b style="color:black">Composting Service</b></h3>
            <p>Our Composting Service offers an eco-friendly solution to organic waste disposal, transforming it
                into nutrient-rich compost for soil enrichment and sustainable gardening practices.
        </div>
        <div class="box3">
            <!-- <h4 class="heading">Get Credit Points</h4> -->
            <h3 style="color: #4ed6d8; text-align: center;"><b style="color:black">Hazardous Waste Disposal</b></h3>
            <p>Our Hazardous Waste Disposal service ensures the safe and compliant removal of hazardous materials,
                protecting both public health and the environment from potential harm.
        </div>

    </div>


</section>


<section class="cities" style="padding:100px; margin:150px; position:center;" >
<h3 style="color: #2e2e2e; text-align: center;"><b style="color:#22631b">CITIES </b>WE COVER</h3>

<img loading="lazy" src="/images/cities/hyderabad.webp" alt="Hyderabad"
    title="Hyderabad">
<img loading="lazy" src="/images/cities/Banglore.webp" alt="Bangalore"
    title="Bangalore">
<img loading="lazy" src="/images/cities/chennai.webp" style="width:320px;" alt="Chennai"
    title="Chennai">



    <img loading="lazy" src="/images/cities/surat.jpg" style="height: 620px; border-radius: 10%; " alt="Surat"
    title="Surat">

    <img loading="lazy" src="/images/cities/Delhi-NCR.webp" alt="Delhi NCR"
    title="Delhi NCR">

<img src="/images/cities/goa.webp" alt="Goa">
<img src="/images/cities/pune.png" style="height:220px; border-radius:10%" alt="Pune">
</section>

<!-- Transport System -->
<section class="trs">
<div class="transport">
    <div class="hero">
       

        <h1 style="text-align: center;color: rgb(128, 0, 94);position: relative;
top: 150px;"> OUR TRANSPORT SYSTEM AVAILABLE ALL TIME
            <br> Availkables: Trucks 10L+
            <br> 24/7 Service Time
            <br>Toll Free #14032840
        </h1>
        <div class="highway">
        </div>
        <div class="city">

        </div>
        <div class="truck">
            <img src="/images/home/truck.png">
        </div>
    </div>
</div>
</section>

<section class="foot">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">waste pickup</a></li>
                    <li><a href="#">management</a></li>
                    <li><a href="#">vehichle status</a></li>
                    <li><a href="#">upload options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">manuar</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">home needs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=61551055087523"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Shankar3423 "><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/shankar_k47/ "><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/shankar-kethavath3423/"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- <span class="spn"> © Copyrights 2024 All rights reserved</span> -->
</footer>
<footer>
    <p style="color: rgb(229, 255, 0);">&copy; 2024 Waste Management System. All rights reserved.</p>
</footer>
</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
}
img {
vertical-align: middle;
    padding: 9px;
}
#head{
    background-color: #111;
}

nav {
    
    font-family: 'Poppins';
    background-color: rgba(146, 196, 20, 0.113);
    color: #034e88;
    margin-bottom: 0px;
    height: 115px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 88px;
    margin-bottom: 1px;
    background-color: black;
    color: white;


}

nav ul li {
    padding: 0 12px;
    margin: 51px;

}

* {
    margin: 0 7px;
    padding: 5px;
    box-sizing: border-box;
}

.brand img {
    width: 89px;
    padding: 0px;
    left: 0px;
    top: 1px;

}

.relogo img {
    width: 550px;
    padding: 0px;
    left: 0px;
    top: 1px;
    height: 200px;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #76a472;
    text-align: center;
    padding: 0px;

}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 0px;
    height: 140px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
  
  li a {
    color: hsl(236.55deg 92% 47%);
    text-decoration: none; 
    font-size: medium;
    text-underline-position: below;
  }

  li a:hover {
    color: rgb(255, 64, 0);
  }
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.city {
    align-items: center;
}

.cities {
    padding: 19px 19px;
    position: relative;
    margin: 43px;
    top: 20px;
}


.look {
    padding: 0px;
    position: absolute;
}

.sevices {
    text-align: center;

}

.box {
    border: 4px solid black;
    background-color: grey;
    margin: 4px 0px;
    padding: 23px;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
}

#box2{
    margin-top: 0px;
}

/* Auto change images */
.autochange {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/images/banners/home-slide-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}

.content h1 {
    color: #f1f1f1;
    font-size: 60px;
    letter-spacing: 15px;
}

.content h1 span {
    color: #111;
}

.content a {
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a:hover {
    background: #034e88;
    color: #fff;
}

@keyframes change {
    0% {
        background-image: url(/images/banners/home-slide-1.jpg);
    }

    20% {
        background-image: url(/images/banners/home-slide-8.jpg);
    }

    40% {
        background-image: url(/images/banners/home-slide-9.png);
    }

    60% {
        background-image: url(/images/banners/home-slide-2.jpg);
    }

    80% {
        background-image: url(/images/banners/home-slide-6.jpg);
    }

    100% {
        background-image: url(/images/banners/home-slide-1.jpg);
    }
}

.box1 {
    border: 4px solid black;
    background-color: grey;
    margin: 4px 150px;
    padding: 100px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;

}

.relogo2 img {
    margin: 4px 250px;
    /* width: 20%; */
    height: auto;
}

#ourserveics li {
    display: flexbox;
}

.box3 {
    border: 4px solid white;
    background-color: white;
    margin: 3px 38pxpx;
    padding: 80px;
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    left: 190px;
}

.box4 {
    border: 4px solid white;
    background-color: white;
    margin: 3px 0px;
    padding: 40px;
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
}

.hero {
    height: 80vh;
    width: 100%;
    background-image: url(/images/Car_Animation_Img/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    top: 0px;
    bottom: 500px;

}

.highway {
    height: 90px;
    width: 500%;
    display: block;
    background-image: url(/images/Car_Animation_Img/road.jpg);
    position: absolute;
    bottom: 0%;
    top: 760px;
    left: 0%;
    right: 0%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}

@keyframes highway {
    100% {
        transform: translateX(-3400px);
    }
}

.city {
    height: 350px;
    width: 500%;
    display: block;
    background-image: url(/images/Car_Animation_Img/city.png);
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 5s linear infinite;
    position: absolute;
    top: 215px;
    margin: 295px;

}

@keyframes city {
    100% {
        transform: translateX(-1400px);
    }
}


.trs {
    position: relative;
    top: 0px;
}

.truck {
    width: 400px;
    left: 0%;
    bottom: 0%;
    top: 610px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.truck img {
    width: 100%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: 0px 700px;
    animation: truck 1s linear infinite;
    position: relative;
    top: 19px;

}

@keyframes truck {
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(3px);
    }

    0% {
        transform: translateY(5px);
    }
}


/* Footer Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.foot {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 0px;



}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 100px;
    bottom: -10px;
    background-color: #e91e63;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.spn {
    color: yellow;
    font-size: larger;
    font-style: oblique;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
}

.register-trigger {
    position: absolute;
    top: 25px;
    right: 54px;
    z-index: 2;
}



.box {
    border: 4px solid white;
    background-color: grey;
    margin: 4px 0px;
    padding: 23px;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    width: calc(33% - 10px);
    position: relative;
    left: 32px;
}

.containerb {
    display: flex;
    flex-wrap: wrap;
}

.relogo2 img {
    margin: 4px 250px;
    /* width: 20%; */
    height: auto;
}

#ourserveics li {
    display: flexbox;
}

.box3 {
    
        border: 6px solid white;
        background-color: white;
        margin: 4px 18px;
        padding: 70px;
        width: calc(25% - 40px); /* Adjust width and spacing */
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top; /* Align boxes to the top */
        width: 300px;
}
.sevices {
    text-align: center;

}
</style>

<script>

const startButton = document.getElementById("start-game");
const gameContainer = document.getElementById("game-container");

startButton.addEventListener("click", startGame);

function startGame() {
    // Remove the start button
    startButton.style.display = "none";

    // Generate a random waste item for sorting
    const wasteItems = ["Plastic", "Paper", "Glass", "Organic"];
    const randomItem = wasteItems[Math.floor(Math.random() * wasteItems.length)];

    // Create the sorting options
    const sortingOptions = wasteItems.slice().sort(() => Math.random() - 0.5);

    // Display the waste item and sorting options
    gameContainer.innerHTML = `
        <p>Sort the item: <strong>${randomItem}</strong></p>
        <ul id="sorting-options">
            ${sortingOptions.map(option => `<li>${option}</li>`).join("")}
        </ul>
    `;

    // Add event listeners for sorting
    const sortingList = document.getElementById("sorting-options");
    sortingList.addEventListener("click", handleSorting);
}

function handleSorting(event) {
    const clickedItem = event.target.textContent;
    const correctItem = document.querySelector("#game-container strong").textContent;

    if (clickedItem === correctItem) {
        gameContainer.innerHTML = "<p>Correct! Good job!</p>";
    } else {
        gameContainer.innerHTML = "<p>Oops! That's not correct. Try again.</p>";
    }

    // Add a new start button
    setTimeout(() => {
        gameContainer.innerHTML = "";
        startButton.style.display = "block";
    }, 2000);
}
</script>